body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center; /* Centers content horizontally */
    height: 100vh;
    background-color: #f0f8ff;
    background: url('../IMG/falling\ ball\ bg.jpg');
    background-size: cover;
    padding-top: 58px; 
}

.game-container {
    text-align: center;
    position: relative; 
}

.game-area {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: rgb(169, 226, 245);
    border: 2px solid #000;
    margin:20px 0 ;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.basket {
    position: absolute;
    bottom: 20px;
    width: 50px;
    height: 30px;
    background-color: #ff4500;
}

#resetButton {
    padding: 8px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}
  
.falling-object {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff4d00; /* Red apple color */
    border-radius: 50%; /* Make it circular */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Adding some shadow for depth */
    transform: rotate(10deg); /* Slight tilt to make it look more natural */
    border: #000 1px;;
}

.falling-object::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    width: 6px;
    height: 10px;
    background-color: #228B22; /* Green for the leaf */
    transform: translateX(-50%) rotate(45deg); /* Position it on top like a leaf */
}

#gameOverMessage{
    display: none;
    color: black; 
    font-size: 24px; 
    font-weight: bold;
}