body {
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  /* Set the background image */
  background-image: url('../IMG/game-background.png'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat;
  animation: changeBackground 40s infinite;
}

@keyframes changeBackground {
  0% { background-image: url('../IMG/game-background1.png'); }
  15% { background-image: url('../IMG/game-background1.png'); } /* hold image for 15%*/
  25% { background-image: url('../IMG/game-background2.png'); }
  40% { background-image: url('../IMG/game-background2.png'); }
  50% { background-image: url('../IMG/game-background3.jpg'); }
  65% { background-image: url('../IMG/game-background3.jpg'); }
  75% { background-image: url('../IMG/game-background4.jpg'); }
  90% { background-image: url('../IMG/game-background4.jpg'); }
  100% { background-image: url('../IMG/game-background1.png'); } /* Loop back to the first image */
}

  /* Navigation Bar */
  .navbar {
    display: flex;
    background-color: #222;
    padding: 12px 50px;
    color: #fff;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
  }

.container {
  background-color: #fff;
  padding: 20px 45px 40px 45px;
  border-radius: 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 400px; /* Set the width */
  height: auto; /* Allow height to adjust based on content */
  position: absolute; /* Position the container absolutely */
  top: 55%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Center the container */
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}


label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


.btn {
  background-color: #3f51b5;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%; 
  margin-top: 15px;
  margin-bottom: 5px;
}




